In [16]:
import os
import json
import pandas as pd
import psycopg2

In [122]:
# aggree-insurance
aggr_insurance_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/insurance/country/india/state/"
aggr_insurance_list = os.listdir(aggr_insurance_path)

insurance_columns = {"States":[], "Years":[], "Quarters":[], "Transaction_type":[], "Transaction_count": [], "Transaction_amount": [] }
for state in aggr_insurance_list:
    cur_state = aggr_insurance_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            aggre_tran_Data =json.load(data)
            for i in aggre_tran_Data["data"]["transactionData"]:
                name= i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                insurance_columns["Transaction_type"].append(name)
                insurance_columns["Transaction_count"].append(count)
                insurance_columns["Transaction_amount"].append(amount)
                insurance_columns["States"].append(state)
                insurance_columns["Years"].append(year)
                insurance_columns["Quarters"].append(int(file.strip(".json")))

In [159]:
aggr_isurance = pd.DataFrame(insurance_columns)
aggr_isurance["States"] = aggr_isurance["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
aggr_isurance["States"] = aggr_isurance["States"].str.replace("-","")
aggr_isurance["States"] = aggr_isurance["States"].str.title()
aggr_isurance["States"] = aggr_isurance["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [160]:
aggr_isurance["States"].unique()

array(['Andaman & Nicobar Islands', 'Andhrapradesh', 'Arunachalpradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra&Nagarhaveli&Daman&Diu', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachalpradesh', 'Jammu&Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhyapradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamilnadu', 'Telangana', 'Tripura', 'Uttarpradesh', 'Uttarakhand',
       'Westbengal'], dtype=object)

In [49]:
# aggree-tranaction
aggr_tran_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/transaction/country/india/state/"
aggr_tran_list = os.listdir(aggr_tran_path)

columns_dict = {"States":[], "Years":[], "Quarters":[], "Transaction_type":[], "Transaction_count": [], "Transaction_amount": [] }
for state in aggr_tran_list:
    cur_state = aggr_tran_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            aggre_tran_Data =json.load(data)

            for i in aggre_tran_Data["data"]["transactionData"]:
                name= i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns_dict["Transaction_type"].append(name)
                columns_dict["Transaction_count"].append(count)
                columns_dict["Transaction_amount"].append(amount)
                columns_dict["States"].append(state)
                columns_dict["Years"].append(year)
                columns_dict["Quarters"].append(int(file.strip(".json")))

In [50]:
aggre_Transaction = pd.DataFrame(columns_dict)

In [53]:
#aggre_Users

aggre_user_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/user/country/india/state/"
aggr_user_list = os.listdir(aggre_user_path)

user_columns_dict = {"States":[], "Years":[], "Quarters":[], "Brands":[], "Transaction_count": [],  "Percentage": [] }
for state in aggr_user_list:
    cur_state = aggre_user_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            aggre_user_Data =json.load(data)

            try:
                for i in aggre_user_Data["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    user_columns_dict["Brands"].append(brand)
                    user_columns_dict["Transaction_count"].append(count)
                    user_columns_dict["Percentage"].append(percentage)
                    user_columns_dict["States"].append(state)
                    user_columns_dict["Years"].append(year)
                    user_columns_dict["Quarters"].append(int(file.strip(".json")))
            except:
                pass

In [59]:
agg_users = pd.DataFrame(user_columns_dict)

In [100]:
#map_Transactions

map_transaction_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/transaction/hover/country/india/state/"
map_insurance_list = os.listdir(map_transaction_path)

top_user_columns = {"States":[], "Years":[], "Quarters":[], "Districts":[], "Transaction_count": [],  "Transaction_amount": [] }
for state in map_insurance_list:
    cur_state = map_transaction_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
            #try:
            for i in top_user_data["data"]["hoverDataList"]:
                district=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                top_user_columns["Districts"].append(district)
                top_user_columns["Transaction_count"].append(count)
                top_user_columns["Transaction_amount"].append(percentage)
                top_user_columns["States"].append(state)
                top_user_columns["Years"].append(year)
                top_user_columns["Quarters"].append(int(file.strip(".json")))
            #except:
              #  pass

In [105]:
map_trans = pd.DataFrame(top_user_columns)

In [119]:
#map_USers

map_users_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/user/hover/country/india/state/"
map_insurance_list = os.listdir(map_users_path)

top_user_columns = {"States":[], "Years":[], "Quarters":[], "Districts":[], "RegisteredUsers": [],  "AppOpens": [] }
for state in map_insurance_list:
    cur_state = map_users_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["hoverData"].items():
                district=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                top_user_columns["Districts"].append(district)
                top_user_columns["RegisteredUsers"].append(registeredUsers)
                top_user_columns["AppOpens"].append(appOpens)
                top_user_columns["States"].append(state)
                top_user_columns["Years"].append(year)
                top_user_columns["Quarters"].append(int(file.strip(".json")))

In [120]:
map_users = pd.DataFrame(top_user_columns)

In [131]:
#map_insurance

map_insurance_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/insurance/hover/country/india/state/"
map_insurance_list = os.listdir(map_insurance_path)

top_user_columns = {"States":[], "Years":[], "Quarters":[], "Districts":[],  "Transaction_count": [], "Transaction_amount" :[] }
for state in map_insurance_list:
    cur_state = map_insurance_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["hoverDataList"]:
                district=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                top_user_columns["Districts"].append(district)                
                top_user_columns["Transaction_count"].append(count)
                top_user_columns["Transaction_amount"].append(amount)
                top_user_columns["States"].append(state)
                top_user_columns["Years"].append(year)
                top_user_columns["Quarters"].append(int(file.strip(".json")))

In [132]:
map_insurance = pd.DataFrame(top_user_columns)

In [147]:
#top_insurance

top_user_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/insurance/country/india/state/"
top_user_list = os.listdir(top_user_path)

top_user_columns = {"States":[], "Years":[], "Quarters":[], "Pincodes":[],  "Transaction_count": [], "Transaction_amount" :[] }
for state in top_user_list:
    cur_state = top_user_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["pincodes"]:
                pincode=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                top_user_columns["Pincodes"].append(pincode)                
                top_user_columns["Transaction_count"].append(count)
                top_user_columns["Transaction_amount"].append(amount)
                top_user_columns["States"].append(state)
                top_user_columns["Years"].append(year)
                top_user_columns["Quarters"].append(int(file.strip(".json")))

In [148]:
top_isuran = pd.DataFrame(top_user_columns)

In [149]:
top_isuran

,States,Years,Quarters,Pincodes,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2020,2,744301,3,565.0
1,andaman-&-nicobar-islands,2020,2,744104,2,513.0
2,andaman-&-nicobar-islands,2020,2,744101,1,282.0
3,andaman-&-nicobar-islands,2020,3,744112,9,3432.0
4,andaman-&-nicobar-islands,2020,3,744105,7,3948.0
...,...,...,...,...,...,...
5244,west-bengal,2023,4,700135,556,939622.0
5245,west-bengal,2023,4,700091,535,767163.0
5246,west-bengal,2023,4,700015,521,683025.0
5247,west-bengal,2023,4,700059,518,843045.0
5248,west-bengal,2023,4,711102,517,769517.0

In [150]:
#top_transaction

top_user_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/transaction/country/india/state/"
top_user_list = os.listdir(top_user_path)

top_user_columns = {"States":[], "Years":[], "Quarters":[], "Pincodes":[],  "Transaction_count": [], "Transaction_amount" :[] }
for state in top_user_list:
    cur_state = top_user_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["pincodes"]:
                pincode=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                top_user_columns["Pincodes"].append(district)                
                top_user_columns["Transaction_count"].append(count)
                top_user_columns["Transaction_amount"].append(amount)
                top_user_columns["States"].append(state)
                top_user_columns["Years"].append(year)
                top_user_columns["Quarters"].append(int(file.strip(".json")))

In [151]:
top_trans = pd.DataFrame(top_user_columns)

In [152]:
top_trans

,States,Years,Quarters,Pincodes,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,700014,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,700014,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,700014,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,700014,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,700014,340,1.039715e+06
...,...,...,...,...,...,...
8562,west-bengal,2023,4,700014,4133775,5.718222e+09
8563,west-bengal,2023,4,700014,3983241,8.039689e+09
8564,west-bengal,2023,4,700014,3950411,6.557345e+09
8565,west-bengal,2023,4,700014,3742452,5.608622e+09
8566,west-bengal,2023,4,700014,3652710,6.184795e+09

In [154]:
#top_users

top_user_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(top_user_path)

top_user_columns = {"States":[], "Years":[], "Quarters":[], "Pincodes":[], "RegisteredUsers":[]}
for state in top_user_list:
    cur_state = top_user_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["pincodes"]:
                pincode = i["name"]
                registeredusers = i["registeredUsers"]
                top_user_columns["Pincodes"].append(pincode)                
                top_user_columns["RegisteredUsers"].append(registeredusers)              
                top_user_columns["States"].append(state)
                top_user_columns["Years"].append(year)
                top_user_columns["Quarters"].append(int(file.strip(".json")))

In [156]:
top_users = pd.DataFrame(top_user_columns)

In [17]:
#Table

#sql connection
mydb = psycopg2.connect(host= "localhost",
                        user= "root",
                        port= "3306",
                        database= "phonepe_data",
                        password= "Kamali@123")

cursor =mydb.cursor()

#aggregated_insurance_table
create_query_aggins = '''CREATE TABLE aggregared_insurance(State varchar(255),
                        Years int,
                        Quater int,
                        Transaction_type varchar(255),
                        Transaction_count bigint,
                        Transaction_amount bigint)'''
cursor.execute(create_query_aggins)
mydb.commit()

OperationalError: connection to server at "localhost" (::1), port 3306 failed: received invalid response to SSL negotiation: J

In [18]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Using cached mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Using cached mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0