In [4]:
import os
import json
import pandas as pd
import psycopg2

In [14]:
# aggree-insurance
aggr_insurance_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/insurance/country/india/state/"
aggr_insurance_list = os.listdir(aggr_insurance_path)

insurance_columns = {"States":[], "Years":[], "Quarters":[], "Transaction_type":[], "Transaction_count": [], "Transaction_amount": [] }
for state in aggr_insurance_list:
    cur_state = aggr_insurance_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            aggre_tran_Data =json.load(data)
            for i in aggre_tran_Data["data"]["transactionData"]:
                name= i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                insurance_columns["Transaction_type"].append(name)
                insurance_columns["Transaction_count"].append(count)
                insurance_columns["Transaction_amount"].append(amount)
                insurance_columns["States"].append(state)
                insurance_columns["Years"].append(year)
                insurance_columns["Quarters"].append(int(file.strip(".json")))

In [15]:
aggr_isurance = pd.DataFrame(insurance_columns)
aggr_isurance["States"] = aggr_isurance["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
aggr_isurance["States"] = aggr_isurance["States"].str.replace("-","")
aggr_isurance["States"] = aggr_isurance["States"].str.title()
aggr_isurance["States"] = aggr_isurance["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [16]:
aggr_isurance["States"].unique()

array(['Andaman & Nicobar Islands', 'Andhrapradesh', 'Arunachalpradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra  and Nagarhaveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachalpradesh', 'Jammu&Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhyapradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamilnadu', 'Telangana', 'Tripura', 'Uttarpradesh',
       'Uttarakhand', 'Westbengal'], dtype=object)

In [27]:
# aggree-tranaction
aggr_tran_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/transaction/country/india/state/"
aggr_tran_list = os.listdir(aggr_tran_path)

columns_dict = {"States":[], "Years":[], "Quarters":[], "Transaction_type":[], "Transaction_count": [], "Transaction_amount": [] }
for state in aggr_tran_list:
    cur_state = aggr_tran_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            aggre_tran_Data =json.load(data)

            for i in aggre_tran_Data["data"]["transactionData"]:
                name= i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns_dict["Transaction_type"].append(name)
                columns_dict["Transaction_count"].append(count)
                columns_dict["Transaction_amount"].append(amount)
                columns_dict["States"].append(state)
                columns_dict["Years"].append(year)
                columns_dict["Quarters"].append(int(file.strip(".json")))

In [28]:
aggre_Transaction = pd.DataFrame(columns_dict)

In [29]:
aggre_Transaction["States"] = aggre_Transaction["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
aggre_Transaction["States"] = aggre_Transaction["States"].str.replace("-","")
aggre_Transaction["States"] = aggre_Transaction["States"].str.title()
aggre_Transaction["States"] = aggre_Transaction["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [32]:
#aggre_Users

aggre_user_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/user/country/india/state/"
aggr_user_list = os.listdir(aggre_user_path)

user_columns_dict = {"States":[], "Years":[], "Quarters":[], "Brands":[], "Transaction_count": [],  "Percentage": [] }
for state in aggr_user_list:
    cur_state = aggre_user_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            aggre_user_Data =json.load(data)

            try:
                for i in aggre_user_Data["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    user_columns_dict["Brands"].append(brand)
                    user_columns_dict["Transaction_count"].append(count)
                    user_columns_dict["Percentage"].append(percentage)
                    user_columns_dict["States"].append(state)
                    user_columns_dict["Years"].append(year)
                    user_columns_dict["Quarters"].append(int(file.strip(".json")))
            except:
                pass

In [33]:
agg_users = pd.DataFrame(user_columns_dict)

In [34]:
agg_users["States"] = agg_users["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
agg_users["States"] = agg_users["States"].str.replace("-","")
agg_users["States"] = agg_users["States"].str.title()
agg_users["States"] = agg_users["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [70]:
#map_Transactions

map_transaction_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/transaction/hover/country/india/state/"
map_transaction_list = os.listdir(map_transaction_path)

map_transaction_columns = {"States":[], "Years":[], "Quarters":[], "Districts":[], "Transaction_count": [],  "Transaction_amount": [] }
for state in map_transaction_list:
    cur_state = map_transaction_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
            #try:
            for i in top_user_data["data"]["hoverDataList"]:
                district=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                map_transaction_columns["Districts"].append(district)
                map_transaction_columns["Transaction_count"].append(count)
                map_transaction_columns["Transaction_amount"].append(percentage)
                map_transaction_columns["States"].append(state)
                map_transaction_columns["Years"].append(year)
                map_transaction_columns["Quarters"].append(int(file.strip(".json")))
            #except:
              #  pass

In [71]:
map_trans = pd.DataFrame(map_transaction_columns)

In [72]:
map_trans["States"] = map_trans["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
map_trans["States"] = map_trans["States"].str.replace("-","")
map_trans["States"] = map_trans["States"].str.title()
map_trans["States"] = map_trans["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [73]:
#map_USers

map_users_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/user/hover/country/india/state/"
map_users_list = os.listdir(map_users_path)

map_user_columns = {"States":[], "Years":[], "Quarters":[], "Districts":[], "RegisteredUsers": [],  "AppOpens": [] }
for state in map_users_list:
    cur_state = map_users_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["hoverData"].items():
                district=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                map_user_columns["Districts"].append(district)
                map_user_columns["RegisteredUsers"].append(registeredUsers)
                map_user_columns["AppOpens"].append(appOpens)
                map_user_columns["States"].append(state)
                map_user_columns["Years"].append(year)
                map_user_columns["Quarters"].append(int(file.strip(".json")))

In [74]:
map_users = pd.DataFrame(map_user_columns)

In [75]:
map_users["States"] = map_users["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
map_users["States"] = map_users["States"].str.replace("-","")
map_users["States"] = map_users["States"].str.title()
map_users["States"] = map_users["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [76]:
#map_insurance

map_insurance_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/insurance/hover/country/india/state/"
map_insurance_list = os.listdir(map_insurance_path)

map_insurance_columns = {"States":[], "Years":[], "Quarters":[], "Districts":[],  "Transaction_count": [], "Transaction_amount" :[] }
for state in map_insurance_list:
    cur_state = map_insurance_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["hoverDataList"]:
                district=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                map_insurance_columns["Districts"].append(district)                
                map_insurance_columns["Transaction_count"].append(count)
                map_insurance_columns["Transaction_amount"].append(amount)
                map_insurance_columns["States"].append(state)
                map_insurance_columns["Years"].append(year)
                map_insurance_columns["Quarters"].append(int(file.strip(".json")))

In [77]:
map_insurance = pd.DataFrame(map_insurance_columns)

In [78]:
map_insurance["States"] = map_insurance["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
map_insurance["States"] = map_insurance["States"].str.replace("-","")
map_insurance["States"] = map_insurance["States"].str.title()
map_insurance["States"] = map_insurance["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [86]:
#top_insurance

top_insurance_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/insurance/country/india/state/"
top_insurance_list = os.listdir(top_insurance_path)

top_insurance_columns = {"States":[], "Years":[], "Quarters":[], "Pincodes":[],  "Transaction_count": [], "Transaction_amount" :[] }
for state in top_insurance_list:
    cur_state = top_insurance_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["pincodes"]:
                pincode=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                top_insurance_columns["Pincodes"].append(pincode)                
                top_insurance_columns["Transaction_count"].append(count)
                top_insurance_columns["Transaction_amount"].append(amount)
                top_insurance_columns["States"].append(state)
                top_insurance_columns["Years"].append(year)
                top_insurance_columns["Quarters"].append(int(file.strip(".json")))

In [87]:
top_insurance = pd.DataFrame(top_insurance_columns)

In [88]:
top_insurance["States"] = top_insurance["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
top_insurance["States"] = top_insurance["States"].str.replace("-","")
top_insurance["States"] = top_insurance["States"].str.title()
top_insurance["States"] = top_insurance["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [89]:
top_insurance

,States,Years,Quarters,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar Islands,2020,2,744301,3,565.0
1,Andaman & Nicobar Islands,2020,2,744104,2,513.0
2,Andaman & Nicobar Islands,2020,2,744101,1,282.0
3,Andaman & Nicobar Islands,2020,3,744112,9,3432.0
4,Andaman & Nicobar Islands,2020,3,744105,7,3948.0
...,...,...,...,...,...,...
5244,Westbengal,2023,4,700135,556,939622.0
5245,Westbengal,2023,4,700091,535,767163.0
5246,Westbengal,2023,4,700015,521,683025.0
5247,Westbengal,2023,4,700059,518,843045.0
5248,Westbengal,2023,4,711102,517,769517.0

In [90]:
#top_transaction

top_trans_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/transaction/country/india/state/"
top_trans_list = os.listdir(top_trans_path)

top_trans_columns = {"States":[], "Years":[], "Quarters":[], "Pincodes":[],  "Transaction_count": [], "Transaction_amount" :[] }
for state in top_trans_list:
    cur_state = top_trans_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["pincodes"]:
                pincode=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                top_trans_columns["Pincodes"].append(district)                
                top_trans_columns["Transaction_count"].append(count)
                top_trans_columns["Transaction_amount"].append(amount)
                top_trans_columns["States"].append(state)
                top_trans_columns["Years"].append(year)
                top_trans_columns["Quarters"].append(int(file.strip(".json")))

In [91]:
top_trans = pd.DataFrame(top_trans_columns)

In [92]:
top_trans["States"] = top_trans["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
top_trans["States"] = top_trans["States"].str.replace("-","")
top_trans["States"] = top_trans["States"].str.title()
top_trans["States"] = top_trans["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [152]:
top_trans

,States,Years,Quarters,Pincodes,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,700014,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,700014,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,700014,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,700014,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,700014,340,1.039715e+06
...,...,...,...,...,...,...
8562,west-bengal,2023,4,700014,4133775,5.718222e+09
8563,west-bengal,2023,4,700014,3983241,8.039689e+09
8564,west-bengal,2023,4,700014,3950411,6.557345e+09
8565,west-bengal,2023,4,700014,3742452,5.608622e+09
8566,west-bengal,2023,4,700014,3652710,6.184795e+09

In [99]:
#top_users

top_user_path = "E:/repos/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/user/country/india/state/"
top_users_list = os.listdir(top_user_path)

top_users_columns = {"States":[], "Years":[], "Quarters":[], "Pincodes":[], "RegisteredUsers":[]}
for state in top_users_list:
    cur_state = top_user_path + state +"/"
    map_year_list = os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file 
            data = open(cur_file, "r")

            top_user_data =json.load(data)
        
           
            for i in top_user_data["data"]["pincodes"]:
                pincode = i["name"]
                registeredusers = i["registeredUsers"]
                top_users_columns["Pincodes"].append(pincode)                
                top_users_columns["RegisteredUsers"].append(registeredusers)              
                top_users_columns["States"].append(state)
                top_users_columns["Years"].append(year)
                top_users_columns["Quarters"].append(int(file.strip(".json")))

In [100]:
top_user_data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'name': 'north twenty four parganas',
    'registeredUsers': 4396190},
   {'name': 'kolkata', 'registeredUsers': 3159912},
   {'name': 'south twenty four parganas', 'registeredUsers': 2154289},
   {'name': 'murshidabad', 'registeredUsers': 2100695},
   {'name': 'hooghly', 'registeredUsers': 1855311},
   {'name': 'howrah', 'registeredUsers': 1669556},
   {'name': 'nadia', 'registeredUsers': 1603527},
   {'name': 'purba medinipur', 'registeredUsers': 1589203},
   {'name': 'paschim medinipur', 'registeredUsers': 1437662},
   {'name': 'purba bardhaman', 'registeredUsers': 1321422}],
  'pincodes': [{'name': '711101', 'registeredUsers': 190311},
   {'name': '700006', 'registeredUsers': 161415},
   {'name': '700135', 'registeredUsers': 146345},
   {'name': '700156', 'registeredUsers': 132452},
   {'name': '700039', 'registeredUsers': 127254},
   {'name': '700015', 'registeredUsers': 126663},
   {'name': '742304', 'registeredUsers': 123320},
   {'name': '721101', 'registeredUsers': 123088},
   {'name': '700150', 'registeredUsers': 119283},
   {'name': '700091', 'registeredUsers': 118578}]},
 'responseTimestamp': 1706092808273}

In [83]:
top_users = pd.DataFrame(top_users_columns)

In [84]:
top_users["States"] = top_users["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar Islands")
top_users["States"] = top_users["States"].str.replace("-","")
top_users["States"] = top_users["States"].str.title()
top_users["States"] = top_users["States"].str.replace("Dadra&Nagarhaveli&Daman&Diu", "Dadra  and Nagarhaveli and Daman and Diu")

In [104]:
#Table

#sql connection
mydb = psycopg2.connect(host= "localhost",
                        user= "postgres",
                        port= "5432",
                        database= "phonepe_data",
                        password= "Kamali@123")

cursor =mydb.cursor()

#aggregated_insurance_table
create_query_aggins = '''CREATE TABLE if not exists aggregated_insurance(States varchar(255),
                        Years int,
                        Quater int,
                        Transaction_type varchar(255),
                        Transaction_count bigint,
                        Transaction_amount bigint)                        
                        '''
cursor.execute(create_query_aggins)
mydb.commit()

insert_query1 = """Insert INTO  aggregated_insurance(States, Years, Quater, Transaction_type, Transaction_count, Transaction_amount )
                     values (%s, %s, %s, %s, %s, %s) """

data = aggr_isurance.values.tolist()
cursor.executemany(insert_query1, data)
mydb.commit()

#aggregated_transaction_table
create_query_aggtrns = '''CREATE TABLE if not exists aggregated_transaction(States varchar(255),
                        Years int,
                        Quater int,
                        Transaction_type varchar(255),
                        Transaction_count bigint,
                        Transaction_amount bigint)                        
                        '''
cursor.execute(create_query_aggtrns)
mydb.commit()

insert_query2 = """Insert INTO  aggregated_transaction(States, Years, Quater, Transaction_type, Transaction_count, Transaction_amount )
                     values (%s, %s, %s, %s, %s, %s) """

data = aggre_Transaction.values.tolist()
cursor.executemany(insert_query2, data)
mydb.commit()

#aggregated_users_table
create_query_aggusers = '''CREATE TABLE if not exists aggregated_users(States varchar(255),
                        Years int,
                        Quater int,
                        Brands varchar(255),
                        Transaction_count bigint,
                        Percentage float)                        
                        '''
cursor.execute(create_query_aggusers)
mydb.commit()

insert_query3 = """Insert INTO  aggregated_users(States, Years, Quater, Brands, Transaction_count, Percentage )
                     values (%s, %s, %s, %s, %s, %s) """

data = agg_users.values.tolist()
cursor.executemany(insert_query3, data)
mydb.commit()

#map_insurance_table
create_query_mapins = '''CREATE TABLE if not exists map_insurance(States varchar(255),
                        Years int,
                        Quater int,
                        Districts varchar(255),
                        Transaction_count bigint,
                        Transaction_amount bigint)                        
                        '''
cursor.execute(create_query_mapins)
mydb.commit()

insert_query4 = """Insert INTO  map_insurance(States, Years, Quater, Districts, Transaction_count, Transaction_amount )
                     values (%s, %s, %s, %s, %s, %s) """

data = map_insurance.values.tolist()
cursor.executemany(insert_query4, data)
mydb.commit()

#map_transaction_table
create_query_maptrns = '''CREATE TABLE if not exists map_transaction(States varchar(255),
                        Years int,
                        Quater int,
                        Districts varchar(255),
                        Transaction_count bigint,
                        Transaction_amount bigint)                        
                        '''
cursor.execute(create_query_maptrns)
mydb.commit()

insert_query5 = """Insert INTO  map_transaction(States, Years, Quater, Districts, Transaction_count, Transaction_amount )
                     values (%s, %s, %s, %s, %s, %s) """

data = map_trans.values.tolist()
cursor.executemany(insert_query5, data)
mydb.commit()

#map_users_table
create_query_mapusers = '''CREATE TABLE if not exists map_users(States varchar(255),
                        Years int,
                        Quater int,
                        Districts varchar(255),
                        RegisteredUsers bigint,
                        AppOpens bigint)                        
                        '''
cursor.execute(create_query_mapusers)
mydb.commit()

insert_query6 = """Insert INTO  map_users(States, Years, Quater, Districts, RegisteredUsers, AppOpens )
                     values (%s, %s, %s, %s, %s, %s) """

data = map_users.values.tolist()
cursor.executemany(insert_query6, data)
mydb.commit()

#top_insurance_table
create_query_topins = '''CREATE TABLE if not exists top_insurance(States varchar(255),
                        Years int,
                        Quater int,
                        Pincodes varchar(255),
                        Transaction_count bigint,
                        Transaction_amount bigint)                        
                        '''
cursor.execute(create_query_topins)
mydb.commit()

insert_query7 = """Insert INTO  top_insurance(States, Years, Quater, Pincodes, Transaction_count, Transaction_amount )
                     values (%s, %s, %s, %s, %s, %s) """

data = top_insurance.values.tolist()
cursor.executemany(insert_query7, data)
mydb.commit()

#top_trans_table
create_query_toptrans = '''CREATE TABLE if not exists top_trans(States varchar(255),
                        Years int,
                        Quater int,
                        Pincodes varchar(255),
                        Transaction_count bigint,
                        Transaction_amount bigint)                        
                        '''
cursor.execute(create_query_toptrans)
mydb.commit()

insert_query8 = """Insert INTO  top_trans(States, Years, Quater, Pincodes, Transaction_count, Transaction_amount )
                     values (%s, %s, %s, %s, %s, %s) """

data = top_trans.values.tolist()
cursor.executemany(insert_query8, data)
mydb.commit()

#top_users_table
create_query_topusers = '''CREATE TABLE if not exists top_users(States varchar(255),
                        Years int,
                        Quater int,
                        Pincodes varchar(255),
                        RegisteredUsers bigint)                                                
                        '''
cursor.execute(create_query_topusers)
mydb.commit()

insert_query9 = """Insert INTO  top_users(States, Years, Quater, Pincodes, RegisteredUsers )
                     values (%s, %s, %s, %s, %s) """

data = top_users.values.tolist()
cursor.executemany(insert_query9, data)
mydb.commit()

In [103]:
#Table

#sql connection
mydb = psycopg2.connect(host= "localhost",
                        user= "postgres",
                        port= "5432",
                        database= "phonepe_data",
                        password= "Kamali@123")

cursor =mydb.cursor()

In [97]:
top_users.columns

Index(['States', 'Years', 'Quarters', 'Pincodes', 'RegisteredUsers'], dtype='object')